/**** Start Default Theme ****/

/* Active Link */

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.carousel-indicators .active,
.option-box .gear-check
{
    background-color:#009AFF
}

.navbar-inverse .navbar-brand span,
.about h1 span,
.testimonials span,
.footer h3,
.footer .copyright span
{
    color:#009AFF
}

.option-box .color-option,
.testimonials .carousel-indicators li.active
{
    border: 3px solid #009AFF
}

.dropdown-menu
{
    border-top:3px solid #009AFF
}

/**** End Default Theme ****/